.lead {
  margin: 91px auto 92px;
  text-align: center;
  box-sizing: border-box;
  max-width: 984px;
}

.lead__title {
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
}

.lead__subtitle {
  text-align: center;
  font-size: 30px;
  margin: 32px 0 64px;
  padding: 0 132px;
}

.lead__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 984px;
  object-fit: cover;
}
