.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 92px 148px 90px;
}

.places__container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title author"
    "image text"
    "button text";
  column-gap: 40px;
  row-gap: 48px;
  color: #fff;
  align-items: start;
}

.places__title {
  grid-area: title;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
}

.places__author {
  grid-area: author;
  align-self: end;
}

.places__artist-title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 8px;
}

.places__artist-name {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.places__image {
  grid-area: image;
  width: 460px;
  height: 460px;
  object-fit: cover;
  position: relative;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
  transition: filter 0.3s ease;
}

.places__image:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.places__text {
  grid-area: text;
}

.places__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.places__paragraph:not(:last-child) {
  margin-bottom: 25px;
}

.places__button {
  grid-area: button;
  justify-self: start;
  align-self: start;
  width: 288px;
  height: 48px;
  background: linear-gradient(90deg, #007bff 0%, #003a7b 100%);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.places__button:hover {
  background: linear-gradient(#003a7b 25%);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 24px 90px;
    gap: 72px;
  }

  .places__container {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;
  }

  .places__artist-title {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .places__artist-name {
    font-size: 18px;
    line-height: 20px;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .places__image {
    width: 100%;
    height: auto;
  }

  .places__button {
    width: 100%;
    max-width: 289px;
    height: 48px;
    font-size: 18px;
    justify-self: start;
  }
}

@media screen and (max-width: 540px) {
  .places {
    margin: 62px 16px 65px;
    gap: 50px;
  }

  .places__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "author"
      "image"
      "text"
      "button";
    gap: 30px;
  }

  .places__title {
    font-size: 32px;
    line-height: 40px;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .places__image {
    width: 320px;
    max-width: 320px;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0;
  }

  .places__button {
    justify-self: center;
    font-size: 14px;
  }
}
